{% extends 'pantry/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'estante_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    {% for estante in estantes %}
        <div class="block">
            <h2><a href="{% url 'estante_detail' pk=estante.pk %}">{{ estante.nombre }}</a></h2>
            <p>{{ estante.descripcion }}</p>
            <p>{{ estante.refUbicacion }}</p>
            <p>{{ estante.creado }}</p>
            <p>{{ estante.enUso }}</p>
        </div>
    {% endfor %}
{% endblock %}
